/* Declaring variables */
:root {
    --hue-neutral: 200;
    --hue-incorrect: 0;
    --hue-correct: 145;
}

body {
    height: 100%;
    width: 100%;
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 20%);
  }
  
  #countdown {
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 40px;
    width: 40px;
    text-align: center;
  }
  
  #countdown-number {
    color: white;
    display: inline-block;
    line-height: 40px;
  }
  
  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: yellowgreen;
    fill: none;
    animation: countdown 30s linear 1 forwards;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }

  /* styles for quiz block */

  #quizDiv {
    display: none;
  }

  body.correct {
      --hue: var(--hue-correct);
  }

  body.incorrect {
    --hue: var(--hue-incorrect);
}

.card-text .row {
  margin: auto;
  margin-top: .25rem;
  background-color: lightblue;
  border: blue 1px solid;
} 

.row input {
  margin: 1rem;
  padding: 1rem;
}

.row label {
  margin: auto;
  padding: 0.5rem;
}

.row input:checked .row {
  background: #08038C;
  color: #000;
}

.scoreContainer {
  background-color: white;
  width: fit-content;
  margin-top: 5rem;
}